@page "{id}"
@model ECom.Pages.Show.detailsModel
@{
    ViewData["Title"] = "details";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/styles/reset.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/styles/style.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="container">
        <dl class="row">
            <dt>
                <img src="@Html.DisplayFor(Product => Product.Product.Image)" />
            </dt>
            <dt class="col-sm-10">
                Name: @Html.DisplayFor(Product => Product.Product.Name)
            </dt>
            <dt class="col-sm-10">
                Sku: @Html.DisplayFor(Product => Product.Product.Sku)
            </dt>
            <dt class="col-sm-10">
                Year: @Html.DisplayFor(Product => Product.Product.Year)
            </dt>
            <dt class="col-sm-10">
                Color: @Html.DisplayFor(Product => Product.Product.Color)
            </dt>
            <dt class="col-sm-10" id="description-box">
                Description: @Html.DisplayFor(Product => Product.Product.Description)
            </dt>
            <dt class="col-sm-10">
                Price: $@Html.DisplayFor(Product => Product.Product.Price)
            </dt>
        </dl>
    </div>
    <div class="btn btn-primary">
        <a id="backbtn" asp-page="Index">Back to Products</a>
    </div>

    <form method="post">
        <button >Add to Cart</button>

    </form>


</body>
</html>