@page
@model ECom.Pages.Show.indexModel
@{
    ViewData["Title"] = "index";
}

<h1>This is the index page for the products. </h1>
<h1>The products should be displayed here</h1>
<h1>From here the user can click on details for a specific product and view that specific product's details</h1>

<table>
    <tbody>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-action="details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
